/* This design follows the "Mobile First" principle, 
where mobile styles are defined in the base CSS while 
desktop styles are added later through media queries. */

/* Generic settings */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --rayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  font-size: 15px;
  margin: 4vw 4vw;
  color: var(--very-dark-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: "Inter ExtraBold";
}

/** Style for captions */
/* Captions are titles for decoration in different area, */
/* such as the "New" in sidebar and the colored number in footer. */
.caption {
  font-family: "Inter";
  font-weight: bold;
}

.sidebar .caption,
.sidebar .title a:hover {
  color: var(--soft-orange);
}

footer .caption,
footer .title a:hover {
  color: var(--soft-red);
}

p {
  color: var(--dark-grayish-blue);
  font-family: "Inter Regular";
  line-height: 1.75;
}

/** Styles for different parts */
/* 1. for the header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 20px;
}

#menu-toggle {
  display: none;
}

.menu-btn {
  display: block;
}

.icon {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  z-index: 1001; /* ensure btn icon on the top */
  background-color: var(--very-dark-blue);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("assets/images/icon-menu.svg");
}

#menu-toggle:checked ~ .menu-btn .icon {
  position: fixed;
  top: 4vw;
  right: 4vw;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("assets/images/icon-menu-close.svg");
  transition: transform 0.3s ease;
}

.menu-btn::before {
  /* Shadow overlay */
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  /* default unclickable and  invisible */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  transition: opacity 0.35s ease-out, visibility 0.35s ease-out;
}

#menu-toggle:checked ~ .menu-btn::before {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  display: flex;
  gap: 1.5em;
  padding: 120px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.nav-links li {
  list-style-type: none;
}
.nav-links a {
  font-family: "Inter";
  color: var(--very-dark-blue);
  font-size: 1.2em;
}
.nav-links a:hover {
  color: var(--soft-red);
}

#menu-toggle:checked ~ .nav-links {
  transform: translateX(0);
}

/** Styles for different parts */
/* 2. for the article */
article .img-container {
  width: 100%;
  aspect-ratio: 4/3;
  background-size: 100% auto;
  background-image: url(assets/images/image-web-3-mobile.jpg);
}
h1 {
  font-family: "Inter ExtraBold";
  font-size: 3rem;
  line-height: 1;
  margin-block: 1.2rem;
}

.button a {
  display: inline-block;
  margin-block: 2rem;
  padding: 1rem 2rem;
  font-family: "Inter";
  font-weight: Bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  background-color: var(--soft-red);
}
.button a:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

/** Styles for different parts */
/* 3. for the sidebar */
.sidebar {
  background: var(--very-dark-blue);
  padding: 1.5rem;
  margin-block: 2rem;
}

.sidebar p {
  color: var(--rayish-blue);
}

.sidebar-caption {
  font-size: 2rem;
}

.sidebar-item {
  padding-block: 2rem;
  border-block-end: 1px solid var(--off-white);
}

.sidebar-item:last-child {
  border: none;
  padding-block-end: 0px;
}

.sidebar-item-title {
  font-size: 1.3rem;
  color: var(--off-white);
}

/** Styles for different parts */
/* 4. for the footer, the card area */
.card {
  margin-block: 2em;
  display: grid;
  grid-template-areas:
    "img number"
    "img title"
    "img content";
  grid-template-columns: 6.5rem 1fr;
  column-gap: 1.5em;
}
.card-img {
  grid-area: img;
}
.card-img > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.card-number {
  grid-area: number;
  font-size: 2rem;
}
.card-title {
  grid-area: title;
  font-size: 1.1rem;
}
.card-content {
  grid-area: content;
}

/** The Following part is for media query */
/*? I was wondering if a 2 columns layout in the middle would be better */
/*? The layout in one column will be weird in middle width,            */
/*? while the footer part is in a mess if change it to the three column. */

@media screen and (min-width: 768px) {
  /* generic part */
  body {
    margin-block: 6vw;
    margin-inline: 10vw;
  }

  /* header part */
  .hamburger-menu .menu-btn {
    display: none;
  }
  .nav-links {
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    gap: 2em;
    padding: 0;
    transform: none;
  }
  .nav-links a {
    color: var(--dark-grayish-blue);
  }

  /* Main Part */
  /* -------------- */
  main {
    display: grid;
    margin-block: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }

  /* Main Part */
  /* 1. article */
  article {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 2rem;
  }

  article > .img-container {
    grid-column: span 2;
    aspect-ratio: 1460/600;
    background-image: url(assets/images/image-web-3-desktop.jpg);
  }

  h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  .button a {
    margin-block-end: 0;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Main Part */
  /* 2. sidebar */
  .sidebar {
    margin: 0;
  }

  /* Main Part */
  /* 3. footer */
  footer {
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid;
  }
}
